Repository aq33/tgstation, pull requests merged in 2021-03, with the labels that each got.

#646 Zmiana kilku rzeczy w .gihtub, testowy PR.
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/autobuild_tgui.yml
  .github/workflows/line_endings_lint.yml
Labels: GitHub, Tweak

#647 Zmiana końcówek linijek kilku plików.
  .github/file_labeler.yml
  .github/workflows/extra_pr_labels.yml
  _maps/shuttles/emergency_shelter.dmm
  _maps/templates/capsule_barricade.dmm
  _maps/templates/shelter_4.dmm
  _maps/templates/shelter_5.dmm
  _maps/templates/shelter_6.dmm
  _maps/templates/shelter_7.dmm
Labels: GitHub, Mapping, Tweak

#656 Przywrócenie starych rzeczy
  .github/PULL_REQUEST_TEMPLATE.md
  .github/file_labeler.yml
  .github/workflows/autobuild_tgui.yml
  .github/workflows/extra_pr_labels.yml
  .github/workflows/line_endings_lint.yml
  README.md
  _maps/shuttles/emergency_shelter.dmm
  _maps/templates/capsule_barricade.dmm
  _maps/templates/shelter_4.dmm
  _maps/templates/shelter_5.dmm
  _maps/templates/shelter_6.dmm
  _maps/templates/shelter_7.dmm
  beestation.dme
  code/__HELPERS/mobs.dm
  code/__HELPERS/names.dm
  code/_globalvars/lists/names.dm
  code/game/machinery/computer/security.dm
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/items/cards_ids.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/client/preferences.dm
  code/modules/language/language.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/ghost.dm
  modular_aquila/modules/EXAMPLE_MODULE/readme.dm
  modular_aquila/modules/POLISH_NAMES/code/names.dm
  modular_aquila/modules/POLISH_NAMES/readme.dm
  strings/names/first.txt
  strings/names/first_female.txt
  strings/names/first_male.txt
  strings/names/last.txt
  strings/names/last_female.txt
  strings/names/last_male.txt
Labels: GitHub, Mapping, Tweak

#657 próba druga z modularyzacją; port ikon ścian
  code/game/turfs/closed/wall/misc_walls.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/closed/walls.dm
  modular_aquila/modules/SCIANY/icons/turf/walls/reinforced_walls.dmi
  modular_aquila/modules/SCIANY/icons/turf/walls/rusty_reinforced_wall.dmi
  modular_aquila/modules/SCIANY/icons/turf/walls/rusty_wall.dmi
  modular_aquila/modules/SCIANY/icons/turf/walls/wall.dmi
  modular_aquila/modules/SCIANY/readme.dm
Labels: Grafika

#659 Przywraca taśmy policyjne
  beestation.dme
  code/__DEFINES/~aquila_defines/layers.dm
  code/modules/vending/security.dm
  modular_aquila/modules/POLICE_TAPES/code/mapping.dm
  modular_aquila/modules/POLICE_TAPES/code/policetape.dm
  modular_aquila/modules/POLICE_TAPES/icons/policetape.dmi
  modular_aquila/modules/POLICE_TAPES/readme.dm
Labels: Feature

#674 Takie emotki co może działają, a może nie (OSTROŻNIE!!)
  beestation.dme
  code/__DEFINES/~aquila_defines/emote.dm
  code/__HELPERS/global_lists.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/keybinding/_defines.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/camera/camera.dm
  code/modules/mob/emote.dm
  modular_aquila/modules/EMOTES/code/emote.dm
  modular_aquila/modules/EMOTES/code/emotes.dm
  modular_aquila/modules/EMOTES/code/keybindings.dm
  modular_aquila/modules/EMOTES/code/mob.dm
Labels: Tweak

#661 Przeniesienie game_options.txt
  code/datums/helper_datums/getrev.dm
  code/game/gamemodes/game_mode.dm
  config/game_options.txt
Labels: Config, Tweak

#736 stare dźwięki beepskiego
  sound/voice/beepsky/creep.ogg
  sound/voice/beepsky/criminal.ogg
  sound/voice/beepsky/freeze.ogg
  sound/voice/beepsky/god.ogg
  sound/voice/beepsky/iamthelaw.ogg
  sound/voice/beepsky/insult.ogg
  sound/voice/beepsky/justice.ogg
  sound/voice/beepsky/radio.ogg
  sound/voice/beepsky/secureday.ogg
Labels: Dźwięk

#679 Przywracanie ikonek aquila oraz rozmiaru ekranu
  code/world.dm
  config/config.txt
  icons/ss13_32.png
  icons/ss13_64.png
Labels: Config
